{% extends 'home/base.html' %}
{% load static %}

<!-- Title -->
{% block title %}Home{% endblock title %}

<!-- Header -->
{% block header %}
{% include 'home/navbar.html' %}
{% endblock  %}

<!-- Content -->
{% block content %}

    <main>
        <div class="container">
            <!-- Info covid -->
            <section id="main">
                <div class="row justify-content-center my-4 py-4">
                    <div class="col-lg-8 text-center info">
                        <h1 class="font-weight-bold">COVID - 19</h1>
                        <hr>
                        <p>
                            Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus
                        </p>
                        <p>
                            Most people infected with the COVID-19 virus will experience mild to moderate respiratory illness and recover without
                            requiring special treatment.
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="card bg-danger mx-2 mb-3 text-center" style="max-width: 18rem;">
                        <div class="card-header">Coronavirus Cases in Indonesia</div>
                        <div class="card-body">
                            <h5 class="card-title">Positive</h5>
                            <p class="card-text">{{ kasus_indonesia.positif }}</p>
                        </div>
                    </div>
                    <div class="card bg-success mx-2 mb-3 text-center" style="max-width: 18rem;">
                        <div class="card-header">Coronavirus Cases in Indonesia</div>
                        <div class="card-body">
                            <h5 class="card-title">Recover</h5>
                            <p class="card-text">{{ kasus_indonesia.sembuh }}</p>
                        </div>
                    </div>
                    <div class="card bg-light mx-2 mb-3 text-center" style="max-width: 18rem;">
                        <div class="card-header">Coronavirus Cases in Indonesia</div>
                        <div class="card-body">
                            <h5 class="card-title">Death</h5>
                            <p class="card-text">{{ kasus_indonesia.meninggal }}</p>
                        </div>
                    </div>
                    <div class="card bg-warning mx-2 mb-3 text-center" style="max-width: 18rem;">
                        <div class="card-header">Coronavirus Cases in Indonesia</div>
                        <div class="card-body">
                            <h5 class="card-title">Treated</h5>
                            <p class="card-text">{{ kasus_indonesia.dirawat }}</p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Gambar-gambar -->
            <section>
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center info">
                        <h3 class="font-weight-bold">To Prevent the Spread of COVID-19:</h3>
                        <hr>
                        <p>Protect yourself and others around you by knowing the facts and taking appropriate precautions. Follow advice provided
                        by your local health authority.</p>
                    </div>
                </div>
                <div id="images">
                    <div class="container-fluid p-0">
                        <div class="row no-gutters">
                            <div class="col-lg-4 col-sm-6">
                                <a class="images-box">
                                    <img class="img-fluid" src="{% static 'home/images/wash-hand.jpg' %}" alt="" />
                                    <div class="images-box-caption">
                                        <div class="project-category text-white-50">TIPS</div>
                                        <div class="project-name">Clean your hands often</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <a class="images-box">
                                    <img class="img-fluid" src="{% static 'home/images/safe-distance.jpg' %}" alt="" />
                                    <div class="images-box-caption">
                                        <div class="project-category text-white-50">TIPS</div>
                                        <div class="project-name">Maintain a safe distance</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <a class="images-box">
                                    <img class="img-fluid" src="{% static 'home/images/wear-masker.jpg' %}" alt="" />
                                    <div class="images-box-caption">
                                        <div class="project-category text-white-50">TIPS</div>
                                        <div class="project-name">Wear a mask when physical distancing is not possible</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <a class="images-box">
                                    <img class="img-fluid" src="{% static 'home/images/stay-home.jpg' %}" alt="" />
                                    <div class="images-box-caption">
                                        <div class="project-category text-white-50">TIPS</div>
                                        <div class="project-name">Stay home if you feel unwell</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <a class="images-box">
                                    <img class="img-fluid" src="{% static 'home/images/cough.jpg' %}" alt="" />
                                    <div class="images-box-caption">
                                        <div class="project-category text-white-50">TIPS</div>
                                        <div class="project-name">Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <a class="images-box">
                                    <img class="img-fluid" src="{% static 'home/images/medical-attention.jpg' %}" alt="" />
                                    <div class="images-box-caption">
                                        <div class="project-category text-white-50">TIPS</div>
                                        <div class="project-name">If you have a fever, cough and difficulty breathing, seek medical attention</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
            </section>
            <section id="about-me">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center info">
                        <h2 class="font-weight-bold">About Us</h2>
                        <hr>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <img class=".img-thumbnail w-50 mx-auto d-block images" src="{% static 'home/images/teamwork.png' %}" alt="team">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 my-3">
                        <p>
                            Corona Form is a website run by a group of Faculty of Computer Science UI students with the
                            goal of making Indonesia COVID-19 statistics available in an accurate and reliable way.
                            Information is extracted right from patients safely and presented transparently. Doctors,
                            researchers, and statisticians are able to extract and implement the data into researches 
                            and future projects. We also provide some articles and recent headlines to keep users
                            up-to-date with COVID-19.
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock content %}