{% extends 'article/base.html' %}

{% block content  %}
<h1>Article Terbaru Corona</h1>
{% if user.is_authenticated %}
<h4><a class="btn-atas" href="{% url 'article:register' %}">Daftarkan Artikelmu</a></h4>
<h4><a class="btn-atas" href="{% url 'article:register_tags' %}">Daftarkan Tags Artikelmu</a></h4>
{% endif %}
{% if article %}
<div class="article">
  {% for i in article %}

  <div class="child">
    <h2>{{ i.title }}</h3>
    <h4>{{ i.author }}</h5>

    <p>
      {% for j in i.tags.all %}<a href="{% url 'article:tags' name=j.name %}" class="tags">{{ j }}</a> {% endfor %}
    </p>

    <img class="thumbnail" src="{% with i.image.all|first as first %}{{ first.image.url }}{% endwith %}">
    <p>{{ i.text|truncatechars:255 }}</p>
    <a href="{% url 'article:detail' id=i.id %}">See more</a>
  </div>
  {% endfor %}
</div>
{% else %}
<h3>Something is wrong. There's no article :(</h3>
{% endif %}
{% endblock  %}