{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block css_tambahan %} <link rel="stylesheet" href="{% static 'login_register/styles.css' %}"> {% endblock css_tambahan %}
{% block title %}Login{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <div class="row content">
                <div class="col-md-6 mb-3">
                    <img src="{% static 'login_register/images/blackboard.png' %}" width="300px" class="img-fluid"
                        alt="image">
                </div>
                <div class="col-md-6">
                    <h3 class="login-text mb-4 text-center">Welcome Back!</h4>
                    <p>You've logged in.</p>
                    <a class="btn btn-class btn-xl" style="width: 40%;" href="{% url 'logout' %}">Logout</a>
                    <p class="my-3">
                        Back to Home?
                    </p>
                    <a class="btn btn-class btn-xl " href="{% url 'home:index' %}" style="width: 40%;">Home</a>
                    <p class="my-3">Do you want to create a new account? <a href="{% url 'login_register:signup' %}">Sign Up</a></p>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="row content">
                <div class="col-md-6 mb-3">
                    <img src="{% static 'login_register/images/avoid-public-place.png' %}" width="300px" class="img-fluid"
                        alt="image">
                </div>
                <div class="col-md-6">
                    <h4 class="login-text mb-4">Sign in to your account</h4>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <button class="btn btn-class">Login</button>
                        <p class="my-3">Don't have an account? <a href="{% url 'login_register:signup' %}">Sign Up</a></p>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    
{% endblock content %}